In [36]:
import pandas as pd #for data reading and manupulation
import numpy as np # for data manupulation
import matplotlib.pyplot as plt # for data Visualization
import seaborn as sns # for data Visualization
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.cross_validation import train_test_split, KFold
from xgboost import XGBClassifier

In [37]:
train = pd.read_csv('training.csv')
test = pd.read_csv('mobile_test.csv')

In [38]:
mb = pd.read_csv('mobilemoney_agents_for_upload_win.csv', encoding='LATIN')
pp = pd.read_csv('3rd_ppp_for_upload_win.csv', encoding='LATIN')

C:\Users\Raheem Nasiru\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
#mb.head()

In [39]:
#pp.head()

In [4]:
datamb = mb.select_dtypes(include=['float64'])

In [39]:
mb.head()

,region,district,ward,latitude,longitude,agent_name,till_operator,agent_type,standalone_or_other_business,other_business_type,...,other_local_services,other_local_services_details,branding_but_no_service,branding_but_no_service_mpesa,branding_but_no_service_tigo_pesa,branding_but_no_service_ezy_pesa,branding_but_no_service_airtel_money,branding_but_no_service_max_malipo,branding_but_no_service_selcom,branding_but_no_service_button Pay
0,Ruvuma,Tunduru,Kalulu,-10.28298,40.18363,Yusuph Shop,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,Ruvuma,Tunduru,Kalulu,-10.28457,40.18295,Abdulazak Shop,owner,Aggregated,Other business,Duka,...,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kilimanjaro,Moshi Urban,Bondeni,-3.36025,37.33803,Hussein Ramadhani Shop,employee,Independent,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dar es Salaam,Kinondoni,Manzese,-6.80213,39.22978,Mechmaster Ltd,employee,Aggregated,Standalone agent,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kilimanjaro,Moshi Urban,Kiusa,-3.35613,37.33382,Bernadeta Mtui,owner,Independent,Other business,Duka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
mb.region.value_counts()

Dar es Salaam    13687
Mwanza            3542
Arusha            3075
Mbeya             2870
Kilimanjaro       2557
Dodoma            2212
Iringa            2171
Shinyanga         2034
Kagera            1642
Morogoro          1441
Mara              1362
Kigoma            1338
Pwani             1225
Singida            957
Tabora             952
Tanga              948
Ruvuma             755
Manyara            737
Rukwa              551
Lindi              492
Mtwara             483
Zanzibar           378
Name: region, dtype: int64

In [6]:
datapp = pp.select_dtypes(include=['float64'])

In [43]:
#datapp.head()

In [7]:
df.info()

NameError: name 'df' is not defined

In [43]:
df = pd.concat([train, test], ignore_index=True)

In [44]:
datapp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6900 entries, 0 to 6899
Data columns (total 14 columns):
latitude                                                                6900 non-null float64
longitude                                                               6900 non-null float64
selcom_deposits_per_week                                                6900 non-null float64
selcom_withdrawls_per_week                                              6900 non-null float64
selcom_num_tills                                                        6900 non-null float64
maxmalipo_deposits_per_week                                             6900 non-null float64
maxmalipo_withdrawls_per_week                                           6900 non-null float64
maxmalipo_num_tills                                                     6900 non-null float64
buttonpay_deposits_per_week                                             6900 non-null float64
buttonpay_withdrawls_per_week                                           6900 non-null float64
buttonpay_num_tills                                                     6900 non-null float64
Other than those listed above are there any other services provided?    6900 non-null float64
Please indicate                                                         6900 non-null float64
Please select                                                           6900 non-null float64
dtypes: float64(14)
memory usage: 754.8 KB

In [53]:
mb_region = mb.region[:9459]

In [54]:
mb_operator = mb.till_operator[:9459]

In [55]:
df1 = pd.concat([df,test], ignore_index=True)

In [56]:
df1.head()

,ID,Latitude,Longitude,Q1,Q10,Q11,Q12,Q13,Q14,Q15,...,Q8_6,Q8_7,Q8_8,Q8_9,Q9,borrowing,insurance,mobile_money,mobile_money_classification,savings
0,5086,-4.460442,29.811396,98,-1,-1,2,-1,2,-1,...,0,0,0,1,-1,0.0,0.0,0.0,0.0,0.0
1,1258,-6.176438,39.244871,40,-1,-1,1,4,1,5,...,0,0,0,0,1,1.0,0.0,1.0,3.0,1.0
2,331,-6.825702,37.652798,18,-1,-1,2,-1,2,-1,...,0,0,0,1,-1,0.0,0.0,1.0,2.0,0.0
3,6729,-3.372049,35.808307,50,-1,-1,1,2,2,-1,...,0,0,0,0,-1,1.0,0.0,1.0,3.0,0.0
4,8671,-7.179645,31.039095,34,1,-1,2,-1,1,1,...,0,0,0,0,-1,0.0,1.0,1.0,3.0,1.0

In [58]:
y = train['mobile_money_classification']

In [60]:
df1.dropna(axis=1, inplace=True)

In [63]:
df1['region'] = mb_region

In [65]:
df1['operator'] = mb_operator

In [66]:
df1.head()

,ID,Latitude,Longitude,Q1,Q10,Q11,Q12,Q13,Q14,Q15,...,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q9,region,operator
0,5086,-4.460442,29.811396,98,-1,-1,2,-1,2,-1,...,0,0,0,0,0,0,1,-1,Ruvuma,employee
1,1258,-6.176438,39.244871,40,-1,-1,1,4,1,5,...,0,0,0,0,0,0,0,1,Ruvuma,owner
2,331,-6.825702,37.652798,18,-1,-1,2,-1,2,-1,...,0,0,0,0,0,0,1,-1,Kilimanjaro,employee
3,6729,-3.372049,35.808307,50,-1,-1,1,2,2,-1,...,0,1,0,0,0,0,0,-1,Dar es Salaam,employee
4,8671,-7.179645,31.039095,34,1,-1,2,-1,1,1,...,0,0,0,0,0,0,0,-1,Kilimanjaro,owner

In [67]:
df1.columns

Index(['ID', 'Latitude', 'Longitude', 'Q1', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7',
       'Q8_1', 'Q8_10', 'Q8_11', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6',
       'Q8_7', 'Q8_8', 'Q8_9', 'Q9', 'region', 'operator'],
      dtype='object')

In [68]:
#df1.drop(['buttonpay_deposits_per_week', 'buttonpay_num_tills','buttonpay_withdrawls_per_week', 'insurance','savings','mobile_money',
         #'Other than those listed above are there any other services provided?','Please indicate', 'Please select'], axis=1, inplace=True)

In [69]:
7094 + 2365

9459

In [71]:
#Test.drop('mobile_money_classification', axis=1, inplace=True)

In [74]:
df1 = pd.get_dummies(df1)

In [75]:
Train = df1[:7094]
Test = df1[:2365]

## building the model

In [77]:
X = Train
y = y

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [102]:
xg = XGBClassifier(max_depth=5, learning_rate=0.02, n_estimators=400, random_state=999, gamma=0.2, n_jobs=-1,
                  min_child_weight=5, colsample_bytree=0.7)

In [103]:
xg.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.7, gamma=0.2, learning_rate=0.02,
       max_delta_step=0, max_depth=5, min_child_weight=5, missing=None,
       n_estimators=400, n_jobs=-1, nthread=None,
       objective='multi:softprob', random_state=999, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [92]:
print(xg.score(X_train, y_train))
#print(xg.score(X_test, y_test))

0.756109022556

In [93]:
print(xg.score(X, y))

0.715393290104

In [94]:
x_test = Test

In [95]:
preded = xg.predict_proba(X_test)

In [96]:
from sklearn.metrics import log_loss, accuracy_score
log_loss(y_test, preded)

In [97]:
log_loss(y_test, preded)

0.77479232905840811

In [98]:
test_set_predictioned = xg.predict_proba(x_test)

In [99]:
test_preded = pd.DataFrame(test_set_predictioned, columns = ['no_financial_services', 'other_only', 'mm_only', 'mm_plus'])

In [100]:
test_preded.head()

   no_financial_services  other_only   mm_only   mm_plus
0               0.653427    0.318342  0.007057  0.021174
1               0.001795    0.005877  0.028869  0.963459
2               0.283876    0.198884  0.303792  0.213449
3               0.003976    0.007625  0.197386  0.791012
4               0.037823    0.060400  0.233468  0.668308

In [87]:
test_preded.to_csv('aprl9.csv', index=False)

## rf

In [106]:
rf = RandomForestClassifier(max_depth=6, n_estimators=250, n_jobs=-1, oob_score=True, max_features=7,random_state=999)

In [107]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features=7, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=250, n_jobs=-1, oob_score=True, random_state=999,
            verbose=0, warm_start=False)

In [109]:
print(rf.score(X_train, y_train))
#print(rf.score(X_test, y_test))

0.739030837004

In [110]:
print(rf.score(X, y))

0.736255990978

In [111]:
pred = rf.predict_proba(X_test)

In [112]:
test_set_predictions = rf.predict_proba(x_test)

In [113]:
test_pred = pd.DataFrame(test_set_predictions, columns = ['no_financial_services', 'other_only', 'mm_only', 'mm_plus'])

In [114]:
test_pred.head()

   no_financial_services  other_only   mm_only   mm_plus
0               0.590887    0.344545  0.029880  0.034688
1               0.000423    0.003020  0.027989  0.968567
2               0.388779    0.247679  0.151322  0.212220
3               0.008359    0.048575  0.085863  0.857203
4               0.075488    0.066824  0.311212  0.546476

In [115]:
test_pred.to_csv('apr20.csv', index=False)